services:
  streamer:
    container_name: simulated_stream
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - ./kafka_topic_script.py:/app/kafka_topic_script.py:ro
      - ./requirements.txt:/app/requirements.txt:ro
      - ./helper_func.py:/app/helper_func.py:ro
      - ./.env:/app/.env:ro
      - ./files:/app/files
    command: bash -lc "pip install -r requirements.txt && python kafka_topic_script.py"
    restart: unless-stopped